@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Rubik:wght@300&display=swap');
	/*Formatação HOME */

	body {
		background-color: #4F4F4F;
		color: rgb(0,0,0,1)
		}
		div#interface {
			width: 900px;
			background-color: #F0F8FF;
			margin: 0px auto 0px auto;
			box-shadow: 10px 10px 10px rgba(0,0,0,.5);
			padding: 10px 10px 10px 10px;
		}
		p {
			text-align: justify;
			text-indent: 80px;
		}
		a {
			color: #606060;
			text-decoration: none;
		}
		header#cabecalho img#icone {
			position: absolute;
			left: 1025px;
			top: 100px;
		}
		header#cabecalho {
			border-bottom: 1px #000000 solid;
			height: 100px;
		}

		header#cabecalho h1{
			font-family: 'Montserrat', sans-serif;
			font-size: 30px;
			color: #1C1C1C;
			text-shadow: 1px 1px 1px rgba(0,0,0,.6);
			padding: 0px;
			margin-bottom: 0px; 
		}

		header#cabecalho h2{
			font-family: 'Montserrat', sans-serif;
			font-size: 30px;
			color: #1C1C1C;
			padding: 0px;
			margin-top: 0px;
		}

		figure.foto-legenda img{
			width: 100%;
			height: 100%;
			display: flex;
		}
	
		figure.foto-legenda:hover figcaption {
			opacity: 1;
		}
		 /* Formatação do texto */
		 header#ensaios {
		 	font-family: 'Montserrat', sans-serif;
		 }
		 header#ensaios h2 {
		 	font-family: 'Montserrat', sans-serif;
		 	text-align: center;
		 }
		 /* Formatação do Menu */

		 nav#menu {
		 	display: block;
		 }	
		 nav#menu ul {

		 	list-style: none;
		 	text-transform: uppercase;
		 	position: absolute;
		 	top: -10px;
		 	left: 730px;	
		 }
		 nav#menu li {
		 	font-family: 'Rubik', sans-serif;
		 	display: inline-block;
		 	background-color: #black;
		 	padding: 10px;
		 	margin: 2px;
		 	transition: background-color 1s;
		 }

		 nav#menu li:hover {
		 	background-color: #606060;
		 }
		 nav#menu h1{
		 	display: none;	
		 }
		 nav#menu a {
		 	color: #000000;
		 	text-decoration: none;
		 }
		 nav#menu a:hover {
		 	color: #ffffff;
		 }

		 table#tabelavalores{
		 	border: 1px solid #606060;
		 	border-spacing: 0px;
		 	margin-left: auto;
		 	margin-right: auto;
		 }

		 table#tabelavalores td{
		 	border: 1px solid #606060;
		 	padding: 20px;
		 	text-align: center
		 }

		 /* formatação do rodapé */
		 footer#rodape {
		 	clear: both;
		 	border-top: 1px solid #000000;
		 }
		 footer#rodape p{
		 	text-align: center;
		 	font-family: 'Rubik', sans-serif;
		 }