@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Rubik:wght@300&display=swap');

/* Formatação do Menu */
		nav#menu {
		 	display: block;
		}	
		nav#menu ul {
		 	list-style: none;
		 	text-transform: uppercase;
		 	float: right;
		}
		
		nav#menu li {
		 	font-family: 'Rubik', sans-serif;
		 	display: inline-block;
		 	background-color: #black;
		 	padding: 10px;
		 	margin: 2px;
		 	transition: background-color 1s;
		}

		nav#menu li:hover {
		 	background-color: #606060;
		}
		nav#menu h1{
		 	display: none;
		}
		nav#menu a {
		 	color: #000000;
		 	text-decoration: none;
		 }
		 nav#menu a:hover {
		 	color: #ffffff;
		 }

/* Formatação do grid-topo */		 
		#grid-topo {
			display: inline-block;
			margin-top: 20px;
		}

		#alinhado-esquerda {
			font-family: 'Rubik', sans-serif;
			float: left;
			width: 40%;
			padding: 90px 0;
			margin-left: 8%;
			text-align: center;	
		}

		#alinhado-direita {
			float: right;
			width: 40%;
			padding-top: 8px;
			margin-right: 5%;
		}

		#imagem-topo {
			border-radius: 2%;
		}


/* Formatação do grid-mid */		 
		#grid-mid {
			font-family: 'Rubik', sans-serif;
			text-align: center;	
			width: 77%;
			padding: 10px 0;
			margin-left: 12%;
		}

		#imagem-mid {
			border-radius: 5%;
		}

/* Formatação do grid-baixo */
		#grid-baixo {
			font-family: 'Rubik', sans-serif;
			text-align: center;	
			width: 77%;
			padding: 10px 0;
			margin-left: 12%;
		}

/* Formatação do grid-form*/
		#grid-form{ 
		font-family: 'Rubik', sans-serif;
		margin-bottom: 3%;
		margin-top: 3%;
		text-align: center;
		}

/* Formatação do cabeçalho */

		header#cabecalho{
			clear: both;
		 	border-bottom: 1px solid #000000;
		}

		header#cabecalho h1{
			font-family: 'Montserrat', sans-serif;
			font-size: 30px;
			color: #1C1C1C;
			text-shadow: 1px 1px 1px rgba(0,0,0,.6);
			padding: 0px;
			margin-bottom: 0px; 
		}
		header#cabecalho h2{
			font-family: 'Montserrat', sans-serif;
			font-size: 30px;
			color: #1C1C1C;
			padding: 0px;
			margin-top: 0px;
		}

/*Formatação da Tabela */
 		table#tabelavalores{
		 	border: 1px solid #606060;
		 	border-spacing: 0px;
		 	margin-left: auto;
		 	margin-right: auto;
		}

		table#tabelavalores td{
		 	border: 1px solid #606060;
		 	padding: 20px;
		 	text-align: left
		 }

/* Formatação do Rodapé */
		 footer#rodape {
		 	clear: both;
		 	border-top: 1px solid #000000;
		 }
		 footer#rodape p{
		 	text-align: center;
		 	font-family: 'Rubik', sans-serif;
		 }		
